a {
  text-decoration: none;
}

.title {
  font-family: var(--ff-comorant-upright);
  font-size: var(--fs-800);
  color: #e3e7f1;
  margin-left: 2rem;
  margin-top: 2rem;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.primary-nav {
  --gap: 3rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(1rem);
  transform: translateX(0%);
}

.primary-nav a {
  text-decoration: none;
  color: #e3e7f1;
}

.primary-nav a > span {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

@media (min-width: 48em) {
  .primary-nav {
    margin-top: 2rem;
  }
}

@media (max-width: 48em) {
  .primary-nav {
    --gap: 3em;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 100;
    border: none;
    background: url(../../images/hamburgerMenu.svg);
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  .mobile-nav-toggle:hover {
    cursor: pointer;
  }
}

@media (min-width: 48em) and (max-width: 992px) {
  .primary-nav {
    padding: 2rem;
  }
  .primary-nav a > span {
    display: none;
  }
}

@media (min-width: 992px) {
  .primary-nav {
    --gap: 3rem;
    padding: 2rem;
  }
}
