:root {
  /* colors */
  --clr-white: 0 0% 100%;
  --main-bg: #282C34;

  /* font-sizes */
  --fs-800: 3.5rem;
  --fs-700: 2.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  --ff-comorant-upright: 'Cormorant Upright', serif;
  --ff-permanent-marker: 'Permanent Marker', cursive;
  --ff-work-sans: 'Work Sans', sans-serif;
}

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* typography */

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}



/*------------------------------------------------------------*/

body {
  background-color: #282C34
}

img {
  border-radius: .2rem;
  aspect-ratio: 2 / 3;
}

::-webkit-scrollbar {
  height:.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: #D3EBCD;
  border-radius: 8px;
}

.form-container {
  padding: 3rem;
  background-color: var(--tan-1);
  border: .1rem solid var(--tan-3);
  border-radius: 1rem;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}
