:root {
  --main-bg: #868B8E
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: var(--main-bg);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.form-container {
  padding: 3rem;
  background-color: var(--tan-1);
  border: .1rem solid var(--tan-3);
  border-radius: 1rem;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25rem;
  color: var(--text-light);
}

label {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

input {
  padding: 1rem;
  font-size: 2rem;
  border: .1rem solid var(--tan-3);
  border-radius: .5rem;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1rem solid var(--tan-2);
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5rem;
  padding: .6rem .8rem;
}

button.btn-xs {
  font-size: 1rem;
  padding: .4rem .5rem;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1rem 0 0;
}